<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>NIILC Question Answering Dataset by mynlp</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/mynlp/niilc-qa">View On GitHub</a></li>
          <li class="downloads"><a href="https://github.com/mynlp/niilc-qa/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/mynlp/niilc-qa/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>NIILC Question Answering Dataset</h1>
          <p></p>
          <hr>
<!--
          <span class="credits left">Project maintained by <a href="https://github.com/mynlp">mynlp</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
-->
        </div>

<!--
        <h3>
<a id="welcome-to-github-pages" class="anchor" --
  --href="#welcome-to-github-pages" --
  --aria-hidden="true"><span class="octicon --
			     --octicon-link"></span></a>Welcome to our
  QA task Pages.</h3>
-->
<p>
<div id="language">
  <a href="http://mynlp.github.io/niilc-qa/j_index.html">日本語</a>
</div>
</p>

<!--<p>Under construction! sorry!</p>-->

<div class="container">
    {{ content }}
</div>
<p></p>

<!--
<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>Having trouble with Pages? Check out our <a href="https://help.github.com/pages">documentation</a> or <a href="https://github.com/contact">contact support</a> and we’ll help you sort it out.</p>
-->
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
